{
  "openapi": "3.0.3",
  "x-account-language": {
    "description": "Le candidat conserve la langue de la personne dans user.preferredLocale sur GET /api/account et GET /api/session. Ces routes privées restent réservées à une session navigateur authentifiée et ne font pas partie des opérations OAuth ci-dessous. PATCH /api/account accepte AccountProfilePatch avec contrôle de session, d’origine et CSRF. Le choix concerne l’interface, jamais le contenu immuable d’un document ou d’un envoi.",
    "supportedLocales": [
      "fr",
      "en",
      "de",
      "lb"
    ],
    "defaultLocale": "fr",
    "unsetPreference": "null ; le client utilise son choix local, puis les langues du navigateur ou de l’appareil, puis le français.",
    "loginLocale": "GET /auth/login et /auth/signup acceptent locale. La langue est liée à la transaction PKCE et initialise seulement un nouveau compte ; une préférence existante n’est jamais remplacée par la connexion. Le rendu du fournisseur d’identité dépend de ses langues configurées."
  },
  "info": {
    "title": "Guteneo — API développeurs",
    "version": "0.3.0",
    "description": "Contrat REST du candidat bêta, documenté le 21 septembre 2026. guteneo.com héberge la bêta ; la démonstration séparée guteneo-preview.nclsppr.workers.dev refuse /api/* (PREVIEW_ONLY). Cette référence décrit aussi le candidat en cours : consultez /api/capabilities pour les capacités réellement disponibles. Aucun tarif, envoi fournisseur ou compatibilité assistant réelle n’est garanti par les exemples. OAuth 2.0 Authorization Code + PKCE S256 pour les clients enregistrés, audience https://guteneo.com/mcp. Pas de clé API personnelle. Créer d’abord son espace dans le navigateur, vérifier son e-mail et disposer d’un compte vérifié. Pendant la bêta Auth0 Free, la MFA n’est pas obligatoire ; son statut ne vaut preuve que si elle a réellement été accomplie. L’organisation vient de l’adhésion authentifiée et de la connexion associée, jamais du corps ou d’un paramètre arbitraire. /api/dispatches/{id}/approve et /api/postal/preflights/{id}/transfer sont réservés au navigateur avec session et CSRF, exclus de cette API OAuth. Les routes /api/dispatches/{id}/protected-document (état), /password (révélation du mot de passe) et /revoke (révocation) sont également réservées au navigateur de l’expéditeur : session authentifiée, en-tête Authorization refusé et CSRF pour les mutations. Aucun mot de passe ne doit être saisi ou lu par un assistant, un appel OAuth ou le chat. Routes privées d’administration et de facturation également exclues. La confirmation n’est pas une livraison. Les exemples ne doivent pas déclencher d’envoi réel sans approbation et activation explicites. Les rôles sont propres à chaque atelier : admin, supervisor, member (opérateur), viewer (observateur). La session expose les permissions effectives. Un scope OAuth ne remplace jamais un droit de rôle. Le superviseur peut recevoir séparément le droit d’approuver et celui de consulter les rapports. La gestion des membres reste réservée au navigateur de l’administrateur."
  },
  "servers": [
    {
      "url": "https://guteneo.com",
      "description": "Bêta Guteneo ; activation des canaux et clients OAuth à vérifier via les capacités du service."
    }
  ],
  "tags": [
    {
      "name": "Service",
      "description": "État et capacités déclarées, sans authentification."
    },
    {
      "name": "Documents",
      "description": "PDF privés, intégrité et quarantaine."
    },
    {
      "name": "Envois",
      "description": "Préparation immuable, accord navigateur puis confirmation."
    },
    {
      "name": "Campagnes",
      "description": "Regroupement et validation, sans envoi implicite."
    },
    {
      "name": "Compte",
      "description": "Lecture des expéditeurs et de la consommation, aucune facturation."
    },
    {
      "name": "Courrier",
      "description": "Contrôle du PDF, revue humaine dans Guteneo, brouillon postal puis devis ; aucune expédition implicite."
    },
    {
      "name": "Studio documentaire",
      "description": "Modèles, données, génération et préparation séparées."
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "operationId": "getHealth",
        "tags": [
          "Service"
        ],
        "summary": "État du service",
        "description": "Sans jeton. Un état ok ne prouve ni la livraison d’un message ni l’ouverture commerciale. Une configuration globale invalide peut répondre 503 avant cette route.",
        "security": [],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        }
      }
    },
    "/api/capabilities": {
      "get": {
        "operationId": "getCapabilities",
        "tags": [
          "Service"
        ],
        "summary": "Capacités déclarées",
        "description": "Sans jeton. Les statuts configured_not_live_validated et not_tested_in_real_client ne prouvent aucun test fournisseur ou assistant réel. Le site de démonstration refuse les routes API.",
        "security": [],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Capabilities"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        }
      }
    },
    "/api/documents": {
      "get": {
        "operationId": "listDocuments",
        "tags": [
          "Documents"
        ],
        "summary": "Lister les documents",
        "description": "Tri décroissant par création et identifiant. Les PDF restent privés et rattachés à l’organisation.",
        "security": [
          {
            "GuteneoOAuth": [
              "documents:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ]
      },
      "post": {
        "operationId": "uploadDocument",
        "tags": [
          "Documents"
        ],
        "summary": "Déposer un PDF original",
        "description": "Champ multipart file, 10 Mio maximum, 100 pages maximum après validation. Les octets sont conservés et hachés SHA-256. En production, le document reste quarantined tant que l’analyse et la validation PDF isolée ne sont pas concluantes. Une réponse 201 ne garantit donc pas status=ready. Aucun import URL REST : utiliser import_document via MCP pour tout domaine public en HTTPS, sans redirection. Lire analysis pour le message utilisateur et la prochaine action : une indisponibilité temporaire déclenche une reprise automatique bornée sur les mêmes octets.",
        "security": [
          {
            "GuteneoOAuth": [
              "documents:write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PDF original, application/pdf, 20 octets minimum et 10 485 760 octets maximum."
                  }
                },
                "required": [
                  "file"
                ],
                "additionalProperties": false
              },
              "encoding": {
                "file": {
                  "contentType": "application/pdf"
                }
              }
            }
          }
        }
      }
    },
    "/api/documents/render": {
      "post": {
        "operationId": "renderDocument",
        "tags": [
          "Documents"
        ],
        "summary": "Créer un PDF depuis du HTML",
        "description": "Produit un nouveau document A4, pas une reconstruction fidèle d’un PDF original. HTML limité à 128 Kio UTF-8 ; CSS client, scripts et ressources externes supprimés. Nécessite le moteur isolé et le scanner. Consomme un quota de rendu puis de dépôt. Un résultat peut rester quarantined.",
        "security": [
          {
            "GuteneoOAuth": [
              "documents:write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "requestBody": {
          "required": true,
          "description": "Corps JSON strict ; les propriétés non documentées à la racine sont refusées.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 180
                  },
                  "html": {
                    "type": "string",
                    "maxLength": 131072
                  }
                },
                "required": [
                  "name",
                  "html"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/documents/{id}/content": {
      "get": {
        "operationId": "getDocumentContent",
        "tags": [
          "Documents"
        ],
        "summary": "Lire les octets PDF validés",
        "description": "Aucun lien public ni URL signée renvoyée. Le jeton autorise seulement les documents de son organisation. Disponible uniquement pour status=ready ; 423 sinon. Afficher les octets reçus, ne pas reconstruire le PDF depuis du texte.",
        "security": [
          {
            "GuteneoOAuth": [
              "documents:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Octets PDF exacts du document validé.",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Document-SHA256": {
                "schema": {
                  "type": "string",
                  "pattern": "^[a-f0-9]{64}$"
                }
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "inline; filename=\"document.pdf\""
              },
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "private, no-store"
              },
              "Content-Security-Policy": {
                "schema": {
                  "type": "string"
                },
                "description": "sandbox; default-src 'none'"
              }
            },
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "423": {
            "$ref": "#/components/responses/Error423"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "name": "dispatchId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Contexte de revue facultatif : demande du même atelier liée à ce PDF exact. Pour un PDF privé d’un autre membre, exige le droit actuel d’approbation et, en OAuth, documents:read et dispatches:read. Ne donne aucun accès à la bibliothèque générale ; droit réévalué à chaque lecture."
          }
        ]
      }
    },
    "/api/documents/{id}/rescan": {
      "post": {
        "operationId": "rescanDocument",
        "tags": [
          "Documents"
        ],
        "summary": "Réexaminer un document en quarantaine",
        "description": "Sans corps. Un document déjà ready est renvoyé tel quel. Pendant une reprise automatique, lecture idempotente de son état sans nouveau quota manuel. Sinon, contrôle d’intégrité des octets originaux et maximum de 10 relances manuelles/jour/organisation. Les erreurs transitoires déclenchent une reprise automatique bornée ; les refus de sécurité ou de format restent bloqués. Lire analysis pour le motif et la prochaine action. Aucun nouveau dépôt nécessaire ; une relance ne vaut jamais validation, approbation ou envoi.",
        "security": [
          {
            "GuteneoOAuth": [
              "documents:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "423": {
            "$ref": "#/components/responses/Error423"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ]
      }
    },
    "/api/dispatches": {
      "get": {
        "operationId": "listDispatches",
        "tags": [
          "Envois"
        ],
        "summary": "Lister les envois",
        "description": "Tri décroissant par création et identifiant. Montants entiers en centimes EUR ; recipient_json et options_json sont des chaînes JSON.",
        "security": [
          {
            "GuteneoOAuth": [
              "dispatches:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispatchPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/DispatchGroup"
          }
        ]
      },
      "post": {
        "operationId": "prepareDispatch",
        "tags": [
          "Envois"
        ],
        "summary": "Préparer un envoi immuable",
        "description": "Ne provoque aucun envoi. Fax/courrier : documentId ready requis. E-mail : recipient.email, subject et texte non vide (fourni ou dérivé du HTML). Sans documentId : aucun fichier. Avec documentId ready : PDF original joint par défaut. Avec ce même PDF et options.emailDeliveryMode=protected_link : lien protégé par mot de passe, options.protectedDays parmi 1, 7 ou 30 (7 par défaut). Le serveur ajoute le lien destinataire au contenu avant l’empreinte et la revue, conserve la durée et chiffre le supplément d’hébergement de 1 € par document lorsqu’il s’applique. Le mot de passe est généré par le serveur et révélé uniquement à l’expéditeur dans son compte navigateur ; il doit être transmis séparément au destinataire. Les options internes protectedDocument, hostingId, le token du lien et tout mot de passe ne sont jamais fournis par le client. Les listes de destinataires multi-format, les pièces jointes Excel/autres fichiers et les comptes destinataires sont des évolutions prévues, pas des fonctions disponibles ici. Fax : recipient.phone ; courrier : name, line1, postalCode, city, country, sans complément line2 non vide. Expéditeur vérifié du bon canal/mode obligatoire (premier disponible si senderId absent). En production, chaque canal exige une tarification privée qualifiée et un devis encore valide : identité du compte fournisseur, expéditeur, options, source, fiscalité, devise/FX et dates doivent correspondre. Le courrier nécessite en plus un brouillon fournisseur local exact et son résultat de calcul de prix ; l’e-mail inclut les données facturables et le FX qualifié. Aucun montant fournisseur n’est accepté du client. Un plafond fourni ne constitue pas un tarif. La réponse est un Dispatch brut, sans approvalUrl : ouvrir https://guteneo.com/#/app/dispatch/{id} dans le navigateur authentifié. Une campagne doit rester draft. Pour un nouveau courrier de production, utiliser /api/postal/preflights, faire ouvrir reviewUrl pour le consentement, puis /api/postal/preflights/{id}/quote ; ne pas fabriquer de preparedLetterId ni de preuve de revue. Pour le fax v3, faxPricing expose une fourchette HT et un plafond ferme approuvé ; la confirmation réserve le plafond et le décompte attend l’usage vérifié, sans exiger un coût final connu avant transmission.",
        "security": [
          {
            "GuteneoOAuth": [
              "dispatches:prepare"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Corps JSON strict ; les propriétés non documentées à la racine sont refusées.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrepareDispatch"
              }
            }
          }
        }
      }
    },
    "/api/dispatches/{id}": {
      "get": {
        "operationId": "getDispatch",
        "tags": [
          "Envois"
        ],
        "summary": "Consulter état, événements et approbation",
        "description": "Lire avant toute décision de relance. submission_unknown et submitting peuvent déjà correspondre à une communication acceptée par le fournisseur. Ne jamais recréer automatiquement un envoi, changer de clé ou répéter la soumission fournisseur. L’approbation est null si absente ou expirée. quote_expires_at peut être null. Livraison et décompte sont distincts : consulter faxPricing.settlement pour les fax v3. Un statut delivered ne garantit pas encore le débit final ; la réserve reste conservée si l’usage est en attente.",
        "security": [
          {
            "GuteneoOAuth": [
              "dispatches:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispatchDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ]
      }
    },
    "/api/dispatches/{id}/confirm": {
      "post": {
        "operationId": "confirmDispatch",
        "tags": [
          "Envois"
        ],
        "summary": "Confirmer un envoi déjà approuvé",
        "description": "Administrateur ou superviseur avec droit de validation requis ; le scope dispatches:send seul ne suffit pas. Sans corps. Nécessite une approbation humaine faite dans le navigateur, liée à l’empreinte immutable et encore valide (au plus 15 min, limitée aussi par le devis). Un accord dans une conversation ne suffit pas. L’assistant ne peut jamais appeler /approve pour la produire. La transition prepared→queued, les réservations de quota/crédit et l’outbox sont atomiques. La réponse ne signifie pas livré. Après un timeout HTTP, relire l’envoi ; seule la même confirmation logique peut réutiliser sa clé. Ne jamais relancer une soumission fournisseur à issue inconnue. Les gates de canal, devis et crédit restent applicables.",
        "security": [
          {
            "GuteneoOAuth": [
              "dispatches:send"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ]
      }
    },
    "/api/dispatches/{id}/cancel": {
      "post": {
        "operationId": "cancelDispatch",
        "tags": [
          "Envois"
        ],
        "summary": "Annuler avant la soumission",
        "description": "Administrateur ou superviseur avec droit de validation requis ; le scope dispatches:send seul ne suffit pas. Sans corps ni clé d’idempotence requise. Autorisé pour prepared ou queued ; un envoi déjà cancelled reste cancelled. Dès que la soumission commence, 409 CANCELLATION_TOO_LATE : aucune annulation fournisseur ni nouveau message n’est déclenché.",
        "security": [
          {
            "GuteneoOAuth": [
              "dispatches:send"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ]
      }
    },
    "/api/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "tags": [
          "Campagnes"
        ],
        "summary": "Lister les campagnes",
        "description": "Pagination descendante ; une campagne regroupe au maximum 500 envois.",
        "security": [
          {
            "GuteneoOAuth": [
              "dispatches:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ]
      },
      "post": {
        "operationId": "createCampaign",
        "tags": [
          "Campagnes"
        ],
        "summary": "Créer une campagne vide",
        "description": "Crée seulement un brouillon. Rattacher ensuite les préparations avec campaignId. Aucune idempotence de création n’est implémentée : ne pas répéter aveuglément après un timeout. Pas d’envoi en masse ni d’approbation globale implicite.",
        "security": [
          {
            "GuteneoOAuth": [
              "dispatches:prepare"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "requestBody": {
          "required": true,
          "description": "Corps JSON strict ; les propriétés non documentées à la racine sont refusées.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 150
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/campaigns/{id}": {
      "get": {
        "operationId": "getCampaign",
        "tags": [
          "Campagnes"
        ],
        "summary": "Consulter une campagne et ses envois",
        "description": "La première approbation humaine fige la campagne et son manifeste. Chaque envoi conserve sa propre approbation et confirmation. Les campagnes marketing sont désactivées.",
        "security": [
          {
            "GuteneoOAuth": [
              "dispatches:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign": {
                      "$ref": "#/components/schemas/Campaign"
                    },
                    "dispatches": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Dispatch"
                      },
                      "maxItems": 500
                    }
                  },
                  "required": [
                    "campaign",
                    "dispatches"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ]
      }
    },
    "/api/recipients/validate": {
      "post": {
        "operationId": "validateRecipients",
        "tags": [
          "Campagnes"
        ],
        "summary": "Valider un CSV sans créer d’envoi",
        "description": "256 Kio UTF-8, 500 lignes maximum. En-tête channel obligatoire ; colonnes autorisées : channel,email,phone,name,line1,postalCode,city,country. Pas de formule CSV. Numéros de ligne à partir de 2 (en-tête en ligne 1). Doublons conservés dans rows et signalés séparément ; valid=false si erreur ou doublon. Validation syntaxique seulement, aucune vérification de délivrabilité et aucun envoi.",
        "security": [
          {
            "GuteneoOAuth": [
              "dispatches:prepare"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CsvValidation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "requestBody": {
          "required": true,
          "description": "Corps JSON strict ; les propriétés non documentées à la racine sont refusées.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "csv": {
                    "type": "string",
                    "maxLength": 262144
                  }
                },
                "required": [
                  "csv"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/senders": {
      "get": {
        "operationId": "listSenders",
        "tags": [
          "Compte"
        ],
        "summary": "Lister les expéditeurs",
        "description": "Lecture seule ; aucun ajout ni vérification par cet endpoint. Utiliser uniquement un expéditeur verified du canal et du mode de l’envoi.",
        "security": [
          {
            "GuteneoOAuth": [
              "dispatches:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Sender"
                      }
                    }
                  },
                  "required": [
                    "items"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        }
      }
    },
    "/api/usage": {
      "get": {
        "operationId": "getUsage",
        "tags": [
          "Compte"
        ],
        "summary": "Lire le crédit et les plafonds",
        "description": "Réservé aux administrateurs et aux superviseurs dont le droit de reporting est activé, en plus du scope OAuth. Crédit promotionnel de bienvenue distinct des plafonds mensuels par canal. 50 € sont attribués une seule fois à une organisation de production créée par le parcours prévu. Lire les montants retournés : ce crédit n’active pas les transports. Aucun renouvellement ni recharge. Le plafond est réservé à la confirmation. Les devis fixes sont consommés à l’acceptation fournisseur ; le fax v3 conserve sa réserve jusqu’au rapprochement de l’usage vérifié, même si sa livraison est terminée. Pour les devis fractionnaires, le débit en centimes est ceil(cumul nanoEUR / 10 000 000) moins ceil(cumul précédent / 10 000 000), au niveau de l’organisation ; il ne s’agit pas d’un arrondi facturé par e-mail. Une issue inconnue conserve la réservation. Les totaux sont des centimes EUR, jamais des flottants.",
        "security": [
          {
            "GuteneoOAuth": [
              "dispatches:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        }
      }
    },
    "/api/postal/preflights": {
      "post": {
        "operationId": "preflightPostalPdf",
        "tags": [
          "Courrier"
        ],
        "summary": "Contrôler le PDF postal",
        "description": "Contrôle les octets exacts d’un PDF ready déjà scanné, toutes ses pages et son adresse avec le profil postal du serveur. Maximum 8 000 000 octets ; consomme un contrôle du quota PDF. La même clé et le même contenu reprennent le contrôle existant. Aucun PDF n’est transmis au prestataire d’impression ici ; reviewUrl mène à la revue humaine. Ni hash, ni rapport de rendu, ni consentement ne sont acceptés du client.",
        "security": [
          {
            "GuteneoOAuth": [
              "documents:write",
              "dispatches:prepare"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Succès",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "no-store : document et adresse privés."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostalReview"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostalPreflightInput"
              }
            }
          }
        }
      }
    },
    "/api/postal/preflights/{id}": {
      "get": {
        "operationId": "getPostalPreflight",
        "tags": [
          "Courrier"
        ],
        "summary": "Lire le contrôle postal",
        "description": "Lecture sans création de brouillon ni calcul de prix. prepared signifie uniquement que le brouillon est déposé chez le prestataire d’impression. unknown interdit une nouvelle création automatique : vérifier le résultat avec Guteneo.",
        "security": [
          {
            "GuteneoOAuth": [
              "documents:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "no-store : document et adresse privés."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostalReview"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ]
      }
    },
    "/api/postal/preflights/{id}/address.png": {
      "get": {
        "operationId": "getPostalAddressCrop",
        "tags": [
          "Courrier"
        ],
        "summary": "Lire la fenêtre d’adresse contrôlée",
        "description": "Extrait PNG privé issu du rendu serveur des mêmes octets que le document contrôlé. La présence de texte ne certifie ni l’existence de l’adresse ni sa lisibilité ; revue humaine nécessaire.",
        "security": [
          {
            "GuteneoOAuth": [
              "documents:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Extrait privé PNG",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "no-store"
              }
            },
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ]
      }
    },
    "/api/postal/preflights/{id}/quote": {
      "post": {
        "operationId": "quotePostalDraft",
        "tags": [
          "Courrier"
        ],
        "summary": "Obtenir le devis du brouillon contrôlé",
        "description": "Uniquement après la revue humaine et le transfert explicitement consenti dans Guteneo. Aucun corps requis : document, destinataire et options viennent du contrôle immuable. Une analyse du courrier encore en cours répond 409 POSTAL_DRAFT_NOT_READY ; reprendre la même clé après analyse. Le devis ne vaut pas approbation : ouvrir /#/app/dispatch/{id} avec l’identifiant du Dispatch retourné. Aucun envoi implicite.",
        "security": [
          {
            "GuteneoOAuth": [
              "dispatches:prepare"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Succès",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "no-store : document et adresse privés."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ]
      }
    },
    "/api/postal/requirements": {
      "get": {
        "operationId": "getPostalRequirements",
        "tags": [
          "Courrier"
        ],
        "summary": "Lire le gabarit postal avant de créer le PDF",
        "description": "Lecture du profil postal actuel du compte, sans PDF ni brouillon. Coordonnées en millimètres depuis le coin supérieur gauche de la page A4. qualified qualifie ici le profil, jamais une adresse, un PDF ou un envoi. Si le profil fournisseur ne peut être vérifié, POSTAL_PROFILE_UNQUALIFIED ; ne pas déduire le gabarit du pays de résidence de l’utilisateur.",
        "security": [
          {
            "GuteneoOAuth": [
              "documents:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "no-store : document et adresse privés."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostalRequirements"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        },
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "FR",
                "LU",
                "DE"
              ]
            },
            "description": "Pays du destinataire."
          },
          {
            "name": "addressPosition",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "left",
                "right"
              ]
            },
            "description": "Position souhaitée pour le gabarit ; facultative. Consulter profile.addressPositions pour les positions disponibles."
          }
        ]
      }
    },
    "/api/dispatches/{id}/renew-quote": {
      "post": {
        "operationId": "renewFaxQuote",
        "summary": "Renouveler un devis fax expiré",
        "description": "Recopie le PDF, le numéro E.164, les options, l’expéditeur et le plafond exacts dans un nouveau devis. Réservé à un fax prepared, expiré ou devenu invalide, sans tentative, fournisseur, outbox ni réservation. Annule l’ancien devis et crée le nouveau atomiquement. Le remplacement est toujours individuel, hors de sa campagne d’origine : annoncer ce changement avant renouvellement. Le manifeste, les anciens membres et leurs empreintes restent inchangés ; l’audit conserve originalCampaignId. Une nouvelle approbation est requise ; aucun envoi, accord ou jeton expert hérité. Idempotence serveur stable par ancien dispatchId : un rejeu renvoie le même nouveau devis. Les erreurs de configuration restent bloquantes. Relire le détail avant action : prepared et attempts vide côté REST ; get_dispatch_status fournit attemptCount=0 explicite côté MCP. Un champ absent ne prouve aucune absence de tentative. L’échéance vient de quote_expires_at en REST et quoteExpiresAt en MCP.",
        "security": [
          {
            "GuteneoOAuth": [
              "dispatches:prepare"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Nouveau devis ou résultat idempotent, sans approbation ni envoi",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispatch"
                }
              }
            }
          },
          "409": {
            "description": "Envoi non renouvelable, devis encore valable ou configuration indisponible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/documents/{id}": {
      "get": {
        "operationId": "getDocument",
        "tags": [
          "Documents"
        ],
        "summary": "Suivre la vérification d’un PDF",
        "description": "Lecture seule du document conservé et de son état analysis. Si processing, Guteneo poursuit la vérification automatiquement ; consulter de nouveau après retryAfterSeconds. Ne pas réimporter le PDF ni déclencher une analyse à chaque lecture. Seul status=ready permet de préparer un envoi.",
        "security": [
          {
            "GuteneoOAuth": [
              "documents:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Document"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/Id"
          },
          {
            "name": "dispatchId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Contexte de revue facultatif : demande du même atelier liée à ce PDF exact. Pour un PDF privé d’un autre membre, exige le droit actuel d’approbation et, en OAuth, documents:read et dispatches:read. Ne donne aucun accès à la bibliothèque générale ; droit réévalué à chaque lecture."
          }
        ]
      }
    },
    "/api/postal/address-pages": {
      "post": {
        "operationId": "createPostalAddressPage",
        "tags": [
          "Courrier"
        ],
        "summary": "Ajouter une page d’adresse au PDF",
        "description": "Action explicite : conserve le PDF original et crée un nouveau PDF contenant une page d’adresse placée selon le profil postal courant. En recto verso, ajoute aussi un verso blanc pour préserver les paires de pages originales. L’adresse est fournie par le client ; aucune adresse ni existence de destinataire n’est devinée. Le source doit être ready et vérifié dans ce compte. Le PDF final est de nouveau analysé : attendre document.status=ready, lire toutes ses pages puis utiliser son identifiant dans /api/postal/preflights. Les pages ajoutées sont incluses dans le devis final, sans tarif fourni par le client. Même clé et même demande reprennent la génération ; une clé réutilisée avec d’autres données est un conflit. Aucun PDF n’est transféré au prestataire d’impression, aucun consentement ni envoi n’est créé. Maximum final : 100 pages et 8 000 000 octets. Consomme les quotas de génération et stockage existants.",
        "security": [
          {
            "GuteneoOAuth": [
              "documents:write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Succès",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string"
                },
                "description": "no-store : document et adresse privés."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostalAddressPageResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "413": {
            "$ref": "#/components/responses/Error413"
          },
          "422": {
            "description": "Le document source ou l’adresse ne peut pas être imprimé selon les règles postales. Corriger la demande sans tronquer une adresse.",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "423": {
            "$ref": "#/components/responses/Error423"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "500": {
            "$ref": "#/components/responses/Error500"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          },
          "504": {
            "description": "Le moteur privé n’a pas répondu à temps. Reprendre la même demande et sa clé, sans nouvel envoi.",
            "headers": {
              "X-Correlation-ID": {
                "description": "Identifiant de diagnostic à conserver avec le code d’erreur ; ne jamais joindre le jeton ou le contenu du document.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostalAddressPageInput"
              }
            }
          }
        }
      }
    },
    "/api/templates/authoring-guide": {
      "get": {
        "operationId": "getTemplateAuthoringGuide",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Lire le schéma et les règles de création des modèles",
        "description": "Guide authentifié en lecture seule, dérivé des contrats actuels. Fournit règles sémantiques, enveloppe minimale et parcours de création sans appel IA ni génération.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:read"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Résultat métier ; un succès HTTP ne vaut ni PDF prêt ni envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateAuthoringGuide"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Droits ou scope insuffisants."
          },
          "404": {
            "description": "Ressource introuvable, supprimée ou non accessible."
          },
          "409": {
            "description": "Révision, idempotence, structure, version ou état incompatible."
          },
          "413": {
            "description": "Limite de taille dépassée."
          },
          "429": {
            "description": "Quota ou budget épuisé."
          },
          "503": {
            "description": "Moteur, scanner ou IA indisponible."
          }
        }
      }
    },
    "/api/templates/examples": {
      "get": {
        "operationId": "listTemplateExamples",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Lister les exemples synthétiques de modèles",
        "description": "Opération tenant-scopée. Le service recontrôle l’adhésion, les droits propres à la ressource et les limites.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:read"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Résultat métier ; un succès HTTP ne vaut ni PDF prêt ni envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TemplateExampleMetadata"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Droits ou scope insuffisants."
          },
          "404": {
            "description": "Ressource introuvable, supprimée ou non accessible."
          },
          "409": {
            "description": "Révision, idempotence, structure, version ou état incompatible."
          },
          "413": {
            "description": "Limite de taille dépassée."
          },
          "429": {
            "description": "Quota ou budget épuisé."
          },
          "503": {
            "description": "Moteur, scanner ou IA indisponible."
          }
        }
      }
    },
    "/api/templates/examples/{exampleId}": {
      "get": {
        "operationId": "getTemplateExample",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Lire une enveloppe synthétique complète à adapter",
        "description": "Opération tenant-scopée. Le service recontrôle l’adhésion, les droits propres à la ressource et les limites.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "exampleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Résultat métier ; un succès HTTP ne vaut ni PDF prêt ni envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "envelope": {
                      "$ref": "#/components/schemas/TemplateEnvelope"
                    }
                  },
                  "required": [
                    "id",
                    "envelope"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Droits ou scope insuffisants."
          },
          "404": {
            "description": "Ressource introuvable, supprimée ou non accessible."
          },
          "409": {
            "description": "Révision, idempotence, structure, version ou état incompatible."
          },
          "413": {
            "description": "Limite de taille dépassée."
          },
          "429": {
            "description": "Quota ou budget épuisé."
          },
          "503": {
            "description": "Moteur, scanner ou IA indisponible."
          }
        }
      }
    },
    "/api/templates": {
      "get": {
        "operationId": "listTemplates",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Lister les modèles accessibles",
        "description": "Opération tenant-scopée. Le service recontrôle l’adhésion, les droits propres à la ressource et les limites.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Résultat métier ; un succès HTTP ne vaut ni PDF prêt ni envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateViewPage"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Droits ou scope insuffisants."
          },
          "404": {
            "description": "Ressource introuvable, supprimée ou non accessible."
          },
          "409": {
            "description": "Révision, idempotence, structure, version ou état incompatible."
          },
          "413": {
            "description": "Limite de taille dépassée."
          },
          "429": {
            "description": "Quota ou budget épuisé."
          },
          "503": {
            "description": "Moteur, scanner ou IA indisponible."
          }
        }
      },
      "post": {
        "operationId": "createTemplate",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Créer un modèle rééditable",
        "description": "Consulter authoring-guide pour le schéma et les règles, ou examples pour adapter une enveloppe fictive. La création enregistre un brouillon privé, sans génération ni envoi implicite.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:write"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Résultat métier ; un succès HTTP ne vaut ni PDF prêt ni envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Droits ou scope insuffisants."
          },
          "404": {
            "description": "Ressource introuvable, supprimée ou non accessible."
          },
          "409": {
            "description": "Révision, idempotence, structure, version ou état incompatible."
          },
          "413": {
            "description": "Limite de taille dépassée."
          },
          "429": {
            "description": "Quota ou budget épuisé."
          },
          "503": {
            "description": "Moteur, scanner ou IA indisponible."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "envelope": {
                    "$ref": "#/components/schemas/TemplateEnvelope"
                  }
                },
                "required": [
                  "envelope"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/templates/import-docx": {
      "post": {
        "operationId": "importTemplateDocx",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Importer Word en blocs rééditables",
        "description": "DOCX seulement, 5 Mio. Extraction éditable sans fidélité de mise en page Word ; consulter les avertissements. Original privé, conservé 30 jours.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:write"
            ]
          }
        ],
        "parameters": [],
        "responses": {
          "201": {
            "description": "Résultat métier ; un succès HTTP ne vaut ni PDF prêt ni envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "template": {
                      "$ref": "#/components/schemas/TemplateView"
                    },
                    "warnings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "provenance": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "template",
                    "warnings",
                    "provenance"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Droits ou scope insuffisants."
          },
          "404": {
            "description": "Ressource introuvable, supprimée ou non accessible."
          },
          "409": {
            "description": "Révision, idempotence, structure, version ou état incompatible."
          },
          "413": {
            "description": "Limite de taille dépassée."
          },
          "429": {
            "description": "Quota ou budget épuisé."
          },
          "503": {
            "description": "Moteur, scanner ou IA indisponible."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "required": [
                  "file"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/templates/{id}": {
      "get": {
        "operationId": "getTemplate",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Lire un modèle et ses droits",
        "description": "Opération tenant-scopée. Le service recontrôle l’adhésion, les droits propres à la ressource et les limites.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Résultat métier ; un succès HTTP ne vaut ni PDF prêt ni envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Droits ou scope insuffisants."
          },
          "404": {
            "description": "Ressource introuvable, supprimée ou non accessible."
          },
          "409": {
            "description": "Révision, idempotence, structure, version ou état incompatible."
          },
          "413": {
            "description": "Limite de taille dépassée."
          },
          "429": {
            "description": "Quota ou budget épuisé."
          },
          "503": {
            "description": "Moteur, scanner ou IA indisponible."
          }
        }
      },
      "delete": {
        "operationId": "deleteTemplate",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Supprimer un modèle du studio en conservant son historique",
        "description": "Réservé au propriétaire non lecteur. expectedRevision protège contre les modifications concurrentes. Le modèle supprimé n’est plus accessible ni réutilisable ; les versions, lots et PDF historiques sont conservés.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Résultat métier ; un succès HTTP ne vaut ni PDF prêt ni envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "deleted"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Droits ou scope insuffisants."
          },
          "404": {
            "description": "Ressource introuvable, supprimée ou non accessible."
          },
          "409": {
            "description": "Révision, idempotence, structure, version ou état incompatible."
          },
          "413": {
            "description": "Limite de taille dépassée."
          },
          "429": {
            "description": "Quota ou budget épuisé."
          },
          "503": {
            "description": "Moteur, scanner ou IA indisponible."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expectedRevision": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "required": [
                  "expectedRevision"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTemplate",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Modifier le brouillon ou appliquer un changement sémantique",
        "description": "Opération tenant-scopée. Le service recontrôle l’adhésion, les droits propres à la ressource et les limites.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Résultat métier ; un succès HTTP ne vaut ni PDF prêt ni envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Droits ou scope insuffisants."
          },
          "404": {
            "description": "Ressource introuvable, supprimée ou non accessible."
          },
          "409": {
            "description": "Révision, idempotence, structure, version ou état incompatible."
          },
          "413": {
            "description": "Limite de taille dépassée."
          },
          "429": {
            "description": "Quota ou budget épuisé."
          },
          "503": {
            "description": "Moteur, scanner ou IA indisponible."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateUpdate"
              }
            }
          }
        }
      }
    },
    "/api/templates/{id}/publish": {
      "post": {
        "operationId": "publishTemplate",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Figer une version publiée",
        "description": "Opération tenant-scopée. Le service recontrôle l’adhésion, les droits propres à la ressource et les limites.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:publish"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Résultat métier ; un succès HTTP ne vaut ni PDF prêt ni envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Droits ou scope insuffisants."
          },
          "404": {
            "description": "Ressource introuvable, supprimée ou non accessible."
          },
          "409": {
            "description": "Révision, idempotence, structure, version ou état incompatible."
          },
          "413": {
            "description": "Limite de taille dépassée."
          },
          "429": {
            "description": "Quota ou budget épuisé."
          },
          "503": {
            "description": "Moteur, scanner ou IA indisponible."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "expectedRevision": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                "required": [
                  "expectedRevision"
                ],
                "additionalProperties": false
              }
            }
          }
        }
      }
    },
    "/api/templates/{id}/duplicate": {
      "post": {
        "operationId": "duplicateTemplate",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Dupliquer dans un modèle privé",
        "description": "Opération tenant-scopée. Le service recontrôle l’adhésion, les droits propres à la ressource et les limites.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Résultat métier ; un succès HTTP ne vaut ni PDF prêt ni envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Droits ou scope insuffisants."
          },
          "404": {
            "description": "Ressource introuvable, supprimée ou non accessible."
          },
          "409": {
            "description": "Révision, idempotence, structure, version ou état incompatible."
          },
          "413": {
            "description": "Limite de taille dépassée."
          },
          "429": {
            "description": "Quota ou budget épuisé."
          },
          "503": {
            "description": "Moteur, scanner ou IA indisponible."
          }
        }
      }
    },
    "/api/templates/{id}/share": {
      "post": {
        "operationId": "shareTemplate",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Configurer les droits du modèle",
        "description": "Opération tenant-scopée. Le service recontrôle l’adhésion, les droits propres à la ressource et les limites.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:share"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Résultat métier ; un succès HTTP ne vaut ni PDF prêt ni envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateView"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Droits ou scope insuffisants."
          },
          "404": {
            "description": "Ressource introuvable, supprimée ou non accessible."
          },
          "409": {
            "description": "Révision, idempotence, structure, version ou état incompatible."
          },
          "413": {
            "description": "Limite de taille dépassée."
          },
          "429": {
            "description": "Quota ou budget épuisé."
          },
          "503": {
            "description": "Moteur, scanner ou IA indisponible."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateShare"
              }
            }
          }
        }
      }
    },
    "/api/templates/{id}/sharing": {
      "get": {
        "operationId": "getTemplateSharing",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Lire les droits et membres éligibles",
        "description": "Opération tenant-scopée. Le service recontrôle l’adhésion, les droits propres à la ressource et les limites.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:share"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Résultat métier ; un succès HTTP ne vaut ni PDF prêt ni envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "userId",
                          "name"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "grants": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string"
                          },
                          "use": {
                            "type": "boolean"
                          },
                          "edit": {
                            "type": "boolean"
                          },
                          "publish": {
                            "type": "boolean"
                          },
                          "share": {
                            "type": "boolean"
                          }
                        },
                        "required": [
                          "userId",
                          "use",
                          "edit",
                          "publish",
                          "share"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "members",
                    "grants"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "description": "Droits ou scope insuffisants."
          },
          "404": {
            "description": "Ressource introuvable, supprimée ou non accessible."
          },
          "409": {
            "description": "Révision, idempotence, structure, version ou état incompatible."
          },
          "413": {
            "description": "Limite de taille dépassée."
          },
          "429": {
            "description": "Quota ou budget épuisé."
          },
          "503": {
            "description": "Moteur, scanner ou IA indisponible."
          }
        }
      }
    },
    "/api/templates/{id}/archive": {
      "post": {
        "operationId": "archiveTemplate",
        "tags": [
          "Studio documentaire"
        ],
        "summary": "Archiver sans détruire les versions historiques",
        "description": "Opération tenant-scopée. Le service recontrôle l’adhésion, les droits propres à la ressource et les limites.",
        "security": [
          {
            "GuteneoOAuth": [
              "templates:publish"
            ]
          }
[...]
